{% extends 'Layout.html'%}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/Admin_img.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">From Where Everything is in under control</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->


<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <h1>Edit Post</h1><br>
        <form name="sentMessage" action="/Edit_post/{{post.Id}}" method="post" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" value="{{post.Title}}" name="Title" required data-validation-required-message="Please enter your Title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">

              <label>Subtitle</label>
              <input type="email" name="Subtitle" class="form-control" placeholder="Subtitle" value="{{post.Subtitle}}" required data-validation-required-message="Please enter your Subtitle address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Date</label>
              <input type="tel" class="form-control" name="Date" placeholder="Date" value="{{post.Date}}" required data-validation-required-message="Please enter your phone Date.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>slug</label>
              <input type="tel" class="form-control" name="slug" placeholder="slug" value="{{post.Slug}}" required data-validation-required-message="Please enter your slug ">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>

              <textarea rows="5" class="form-control" placeholder="Content" name="Content" required data-validation-required-message="Please Enter your Content.">{{ post.Content }}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">

        
            <button style="padding: 5px 25px;border-radius:5px;" type="submit" class="btn btn-info" id="sendMessageButton"> Update </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% endblock %}