
{% extends 'Layout.html'%}


{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/Home_img.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ tag }}</h1>
            <span class="subheading">A programmer not like a programmer</span>
          </div>
        </div>
      </div>
    </div>
  </header>


{% for Post in Post %}

  <a href="/Post/{{ Post.Slug}}"></a>



  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/Post/{{ Post.Slug}}">
            <h2 class="post-title">
             {{ Post.Title }}
            </h2>
            <h3 class="post-subtitle">
              {{ Post.Subtitle}}
            </h3>
          </a>


          <p class="post-meta">Posted by
            <a href="#">{{ tag }}</a>
            on {{ Post.Date}}</p>
        </div>
        <hr>
        
        <!-- Pager -->
        <div class="clearfix">
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
   <a style="margin-right:350px; margin-top: -15px; font-size:12px; height:15px; padding-bottom: 25px;
    padding-top:10px; border-radius:10px;" class="btn btn-info float-right" href="{{nex}}" style="margin-right:370px; margin-top: 10px; font-size:12px; height:15px; padding-bottom: 25px; padding-top:10px;">Older &rarr;</a>

    <a style="margin-left:350px; margin-top: -15px; font-size:12px; height:15px; padding-bottom: 25px;
    padding-top:10px; border-radius:10px;" class="btn btn-info float-left" href="{{previous}}" style="margin-right:370px; margin-top :10px;font-size:12px; height:15px; padding-bottom: 25px; padding-top:10px;"> &larr; Newer</a>

 
<hr>

 {% endblock %}

