<html>
<head>
<title>Web Training Centre</title>
<style type="text/css">
.clicked{
background:#ffc;
}
</style>
</head>
<body>
<p>Click on the elements below to view the 'rel' attribute</p>
<ul>
<li rel="JAVASCRIPT" id="js_event">Javascript</li>
<li rel="HTML" id="html_event">HTML</li>
<li rel="CSS" id="cs_event">CSS</li>
</ul>

	<script type="text/javascript">
		let butn = document.getElementById('js_event');
		butn.addEventListener('click' ,Event);

		function Event()
		{
			console.log("You Have clicked on  this buton");
			document.getElementById('js_event').innerHTML="<h1>You clicked on this link</h1>"
		}



	</script>

</body>

