{%extends "Layout.html"%}
{%load static%}

{%block title%}
<title>Payment status</title>
{%endblock%}
{% block body %}
<div class="container">
    {{response}}
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        <h3>Congratulation!! order has been succesfully placed</h3>
        {% else %}
        <h3>Transaction failed !! Kindly try after some time</h3>
        {% endif%}

    </div>

</div>
{% endblock %}

