
html { 
  background: url(BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.Login_form{
	

}


.image{

		font-size: 20%;


	
}

.username
{
	
}

.password
	{
	
}

input{
	
}

input:hover{
	color:red;

}

::placeholder
{
	


}



.btn{
	


}
.btn:hover{
	
  	font-size:25px;

}

.btn1
{
	
}

.btn1:hover{
	
	
}
.btn2
{
	
}

.btn2:hover{
	

}




















